In [1]:
import pandas as pd

In [2]:
forex_historical=pd.read_csv('../Resources/forex_historical.csv')

In [3]:
forex_historical.head()

,id,Date,AUD,EUR,NZD,GBP,BRL,CAD,CNY,HKD,...,SGD,DKK,JPY,MYR,NOK,SEK,LKR,CHF,TWD,THB
0,0,2000-01-03,1.5172,0.9847,1.9033,0.6146,1.8050,1.4465,8.2798,7.7765,...,1.6563,7.3290,101.70,3.8,7.964,8.4430,72.30,1.5808,31.38,36.97
1,1,2000-01-04,1.5239,0.9700,1.9238,0.6109,1.8405,1.4518,8.2799,7.7775,...,1.6535,7.2180,103.09,3.8,7.934,8.3600,72.65,1.5565,30.6,37.13
2,2,2000-01-05,1.5267,0.9676,1.9339,0.6092,1.8560,1.4518,8.2798,7.7780,...,1.6560,7.2080,103.77,3.8,7.935,8.3530,72.95,1.5526,30.8,37.10
3,3,2000-01-06,1.5291,0.9686,1.9436,0.6070,1.8400,1.4571,8.2797,7.7785,...,1.6655,7.2125,105.19,3.8,7.940,8.3675,72.95,1.5540,31.75,37.62
4,4,2000-01-07,1.5272,0.9714,1.9380,0.6104,1.8310,1.4505,8.2794,7.7783,...,1.6625,7.2285,105.17,3.8,7.966,8.4150,73.15,1.5623,30.85,37.30

In [6]:
forex_historical.columns

Index(['id', 'Date', 'AUD', 'EUR', 'NZD', 'GBP', 'BRL', 'CAD', 'CNY', 'HKD',
       'INR', 'KRW', 'MXN', 'ZAR', 'SGD', 'DKK', 'JPY', 'MYR', 'NOK', 'SEK',
       'LKR', 'CHF', 'TWD', 'THB'],
      dtype='object')

In [7]:
forex_historical=forex_historical[forex_historical.AUD != 'ND']
forex_historical=forex_historical[forex_historical.EUR != 'ND']
forex_historical=forex_historical[forex_historical.AUD != 'ND']
forex_historical=forex_historical[forex_historical.NZD != 'ND']
forex_historical=forex_historical[forex_historical.GBP != 'ND']
forex_historical=forex_historical[forex_historical.BRL != 'ND']
forex_historical=forex_historical[forex_historical.CAD != 'ND']
forex_historical=forex_historical[forex_historical.CNY != 'ND']
forex_historical=forex_historical[forex_historical.HKD != 'ND']
forex_historical=forex_historical[forex_historical.INR != 'ND']
forex_historical=forex_historical[forex_historical.KRW != 'ND']
forex_historical=forex_historical[forex_historical.MXN != 'ND']
forex_historical=forex_historical[forex_historical.ZAR != 'ND']
forex_historical=forex_historical[forex_historical.SGD != 'ND']
forex_historical=forex_historical[forex_historical.DKK != 'ND']
forex_historical=forex_historical[forex_historical.JPY != 'ND']
forex_historical=forex_historical[forex_historical.MYR != 'ND']
forex_historical=forex_historical[forex_historical.NOK != 'ND']
forex_historical=forex_historical[forex_historical.SEK != 'ND']
forex_historical=forex_historical[forex_historical.LKR != 'ND']
forex_historical=forex_historical[forex_historical.CHF != 'ND']
forex_historical=forex_historical[forex_historical.TWD != 'ND']
forex_historical=forex_historical[forex_historical.THB != 'ND']

/Users/rajarajen/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [8]:
len(forex_historical)

5015

In [9]:
forex_historical.to_csv('../Resources/forexhistorical.csv',header=True)