In [28]:
import pandas as pd
from sqlalchemy import create_engine

In [29]:
# Extract CSVs into DataFrames
forexhistorical_file = "../Resources/final_historical.csv"
forex_historic_df = pd.read_csv(forexhistorical_file)
forex_historic_df.head()

,id,Date,AUD,EUR,NZD,GBP,BRL,CAD,CNY,HKD,...,SGD,DKK,JPY,MYR,NOK,SEK,LKR,CHF,TWD,THB
0,0,1/3/2000,1.5172,0.9847,1.9033,0.6146,1.8050,1.4465,8.2798,7.7765,...,1.6563,7.3290,101.70,3.8,7.964,8.4430,72.30,1.5808,31.38,36.97
1,1,1/4/2000,1.5239,0.9700,1.9238,0.6109,1.8405,1.4518,8.2799,7.7775,...,1.6535,7.2180,103.09,3.8,7.934,8.3600,72.65,1.5565,30.60,37.13
2,2,1/5/2000,1.5267,0.9676,1.9339,0.6092,1.8560,1.4518,8.2798,7.7780,...,1.6560,7.2080,103.77,3.8,7.935,8.3530,72.95,1.5526,30.80,37.10
3,3,1/6/2000,1.5291,0.9686,1.9436,0.6070,1.8400,1.4571,8.2797,7.7785,...,1.6655,7.2125,105.19,3.8,7.940,8.3675,72.95,1.5540,31.75,37.62
4,4,1/7/2000,1.5272,0.9714,1.9380,0.6104,1.8310,1.4505,8.2794,7.7783,...,1.6625,7.2285,105.17,3.8,7.966,8.4150,73.15,1.5623,30.85,37.30

In [30]:
forexcurrent_file = "../Resources/2020_forex.csv"
forex_current_df = pd.read_csv(forexcurrent_file)
forex_current_df.head()

,id,Date,AUD,EUR,NZD,BRL,CAD,CNY,HKD,INR,...,DKK,JPY,MYR,NOK,SEK,GBP,LKR,CHF,TWD,THB
0,8874,2020-01-01,1.424690,0.891401,1.484530,4.019699,1.297550,6.963200,7.792750,71.131500,...,6.659302,108.718020,4.090500,8.774430,9.345135,0.754802,182.306160,0.967700,29.847498,30.069874
1,8875,2020-01-02,1.431802,0.895185,1.492690,4.024897,1.298550,6.964402,7.788550,71.425001,...,6.689505,108.545496,4.087501,8.793901,9.365900,0.760399,181.405390,0.971400,29.905025,30.149863
2,8876,2020-01-03,1.438963,0.896057,1.500600,4.066804,1.299025,6.965504,7.779265,71.761040,...,6.697804,108.085040,4.102504,8.831035,9.399325,0.764497,181.401604,0.972302,30.050368,30.177504
3,8877,2020-01-04,1.438963,0.896098,1.500600,4.066804,1.299025,6.965504,7.779265,71.761040,...,6.697804,108.085040,4.102504,8.831035,9.399325,0.764088,181.401604,0.972302,30.050368,30.177504
4,8878,2020-01-05,1.440125,0.895930,1.502765,4.057198,1.298860,6.965499,7.781750,71.761023,...,6.695595,107.967983,4.102496,8.838230,9.411839,0.764575,181.401600,0.971530,30.049495,30.157024

In [31]:
# Create database connection
connection_string = "postgres:postgres@localhost:5432/forex_db"
engine = create_engine(f'postgresql://{connection_string}')

In [32]:
# Confirm tables
engine.table_names()

['forexhistoric', 'forexcurrent']

In [33]:
#Load DataFrames into database
forex_historic_df.to_sql(name='forexhistoric', con=engine, if_exists='append', index=False)

In [35]:
forex_current_df.to_sql(name='forexcurrent', con=engine, if_exists='append', index=False)